*.o
-/lib/Makefile.am
.deps/
/.pc/
/.version
/ChangeLog
/GNUmakefile
/ID
/INSTALL
/VERSION
/aclocal.m4
/autom4te.cache/
/build-aux
/config.cache
/config.h
/config.hin
/config.log
/config.status
/configure
/doc
/lib
/maint.mk
/patch-*.tar.bz2
/patch-*.tar.bz2.sig
/patch-*.tar.gz
/patch-*.tar.gz.sig
/patch-*.tar.xz
/patch-*.tar.xz.sig
/src/patch
/stamp-h1
Makefile
Makefile.in
TAGS
